@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">About me</h2>
    <p class="text-left">
        This portfolio is an in-depth description of my skillset and competencies. For a general overview, please reference my resume.
        Hello there! First let me introduce myself. I am Full Stack engineer with 5 years of professional work experience writing C# .NET.
        I have worked in financial field developing user automation in the mortgage industry for 2 years.
        I have worked as a professional independent freelance developer for 3 years. I love learning and working with bleeding edge technology in
        the Microsoft stack of technologies.
        I have been learning software development since 2013. I strive for readability and code efficiency.
        I make it a point to always write even more bullet proof code each time I sit in front of my IDE.
        I see an incredible amount of value in unit testing my code, and following a Test Driven Development workflow!
        I have professional experiance leading ceremonial agile meetings. I enjoy being a team leader and mentoring other team-mates.
        I find there is much value to be had in learning from your team-mates and taking the time to understand everyone's feedback carefully.
    </p>

    <hr />

    <h2 class="display-4">Azure Platform Experience</h2>
    <p class="text-left">
        I have many years of experience using the Azure platform in a professional capacity. Azure Kubernetes service(AKS) was a major component
        in our user automation projects. I have hands on experience configuring CI/CD piplines to deploy into AKS.
        One particular project I enjoyed building, independently, was an OCR service that required Azure Cognitive services.
        I have expert experience using Azure Appconfig, and Azure Keyvault services.
        I have configured Appconfig, and keyvault services to run on multiple environments to allow for testing in local, development, and production environments.
        I am very familiar with Azure Devops and all of it's sub features including Wiki, Repos, Pipelines, and Boards.
        I am most comfortable working in Devops configured for Agile workflow.
        I have experience maintaining and building Azure SQL servers using EFcore(ORM) code first, and Db first.
        I also have work experience developing API servers with asp net core.
        <br />
    </p>

    <h3>Azure Cog, OCR Project details:</h3>
    <p class="text-left">
        The synopsis of this project was to design a service that could identify and accurately read text fields in mortgage documents.
        The challenge here was that the documents did not follow a single standard, as each state has different layouts for the aforementioned documents.
        My solution was to use Azure Cognitive services to identify desirable fields located somewhere inside of these submitted documents.
        I designed this service to function as an independent microservice that would respond to queue messages on our service bus layer.
        Through this project I gained hands on experience training and developed a cognitive service within C# .NET.
    </p>

    <hr />

    <h2 class="display-4">C# .NET Experience</h2>
    <p class="text-left">
        C# is my strongest suited language and also the first language I started coding with.
        I have been studying C# .NET since 2013 when I discovered an unmatched interest in computer programming.
        I have written many projects using C# .NET and I know the language inside and out.
        I have expanded my usage of C# with recent advancements of the language making it cross platform compatible.
        Some technologies I have used with C# include but are not limited to; Blazor, Asp.NET CORE, EFcore, Docker, AKS, Helm deployments, Seriog and Nlog,
        ELK stack, Core AND Framework, Winform, GDI+, WPF, Xunit and Nunit testing frameworks.
        I always utilize key principals like, SOLID, DRY, and KISS when I develop software.
    </p>
</div>


<div class="text-center">
    <h3>Aes Project</h3>
    <p class="text-left">
        Project Source: <a href="https://github.com/PapyrusCompendium/AESinIL">https://github.com/PapyrusCompendium/AESinIL</a><br />
        The project below is something I decided to develop out of a curiosity of Microsoft's Common Language Runtime(CLR).
        I wanted to learn more about the inner workings of C# and what it was compiled to.
        Learning this has brought many advantages to coding the higher level implementation, C#.
        I believe after learning how Common Intermediate Language(CIL) worked I am more capable of developing systems with greater interoperability.
        Below are some snippets of the CIL I wrote by hand;
    </p>
</div>

<p>Entry point IL code</p>
<pre><code class="hljs">
.method public hidebysig static void Main(string[] args) cil managed
{
    .maxstack 2
    .entrypoint
    .locals init(
        [0] string,
        [1] string
    )

    ldstr       "AES in IL, I wrote this simply to practice more with writing in IL."
    call        void [mscorlib]System.Console::WriteLine(string)

    ldstr       "Password: "
    call        void [mscorlib]System.Console::Write(string)
            
    call        string [mscorlib]System.Console::ReadLine()
    stloc.0     // Load the password to our locals.

    ldstr       "Plain Text: "
    call        void [mscorlib]System.Console::Write(string)

    call        string [mscorlib]System.Console::ReadLine()
    stloc.1     // Load the plaintext into our locals.

    ldstr       "Encrypting..."
    call        void [mscorlib]System.Console::WriteLine(string)

    ldloc.1
    ldloc.0
    call        void AESinIL.Cryptography::RoundTrip(string, string)
    ret
}
</code></pre>

<div class="text-center">
    <h3>Steganography Project</h3>
    <p class="text-left">
        Project Source: <a href="https://github.com/PapyrusCompendium/Steganography-Library">https://github.com/PapyrusCompendium/Steganography-Library</a><br />
        Below is a project I developed out of an interest in working with data in obscure ways.
        I wanted to develop a library that would quickly, and efficiently encode data into an image without changing the look of the image.
        After researching a few techniques of doing this, I decided I would solve this task by encoding data into the least significant bit(LSB).
        Since PNG graphics encode each pixel exactly as it was created we can utilize this property to store data inside of small changes in each pixel.
        This method would not work in other graphic formats like jpg, because of the way they optimize the storage for smaller data sizes.
        Below is an example use case of this library in its intended use case;
    </p>
</div>

<pre><code class="language-csharp hljs">
using System.Drawing;
using System.Text;

using Xunit;
namespace Steganography
{
    class Program
    {
        static void Main(string[] args)
        {
            var encodedMessage = "This is an encoded message";
            var stegoImage = new SteganographicImage(new Bitmap(Image.FromFile("TestImage.png")));
            var encodedImage = stegoImage.EncodeDataInBitmap(Encoding.UTF8.GetBytes(encodedMessage));

            stegoImage = new SteganographicImage(encodedImage);
            var encodedData = stegoImage.GetEncodedDataFromBitmap();

            // The data from it's original format should match the decoded data.
            Assert.Equal(encodedMessage, Encoding.UTF8.GetString(encodedData));
        }
    }
}
</code></pre>

<div class="text-center">
    <h3>This Website: papyruscompendium.dev</h3>
    <p class="text-left">
        Project Source: <a href="https://github.com/PapyrusCompendium/papyruscompendium.dev">https://github.com/PapyrusCompendium/papyruscompendium.dev</a><br />
        I developed this website to showcase my capabilities as a full stack developer.
        I plan to incrementally add new features and widgets as I progress.
        Everything is open source and available to read at the above link on Github.com.
    </p>
</div>

<div class="text-center">
    <h2>Other Language Experience</h2>
    <p class="text-left">
        I also have experience utalizing other language as well.
        A complete list of languages I am professionally capable in, in order of competancy, are as follow;
    </p>
</div>
<ul>
    <li>C#</li>
    <li>JavaScript</li>
    <li>Powershell</li>
    <li>CSS</li>
    <li>Html5</li>
    <li>Yaml (CI/CD)</li>
    <li>SQL</li>
    <li>F#</li>
    <li>Python</li>
    <li>C/C++</li>
    <li>Latex</li>
    <li>Bash/Batch</li>
    <li>Visual Basic</li>
    <li>Type Script</li>
    <li>PHP</li>
</ul>